.image-1{
    background-image: url('../assets/pngtree-travel-around-the-world-background-image_2169513.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}